@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.cart_top {
    height: 400px;
    background-image: url(img/cartback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cart_title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    color: $color-text;
    max-width: 792px;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__name-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }

    &__content {
        grid-column: span 8;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__link-box {
        display: flex;
        gap: 30px;
    }

    &__link {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration-line: underline;
        color: #000000;
    }

    &__price {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }

    &__item-name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &__item-description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &__number {
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: #000000;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &__button-box {
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }

    &__button {
        width: 200px;
        height: 37px;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #020202;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000000;
        border-radius: 50px;
        color: #020202;
        transition: all 0.7s;
        
    }

    &__button:hover {
        text-decoration-line: underline;
        background: #000000;
        color: #FFFFFF;
    }

    &__button_form {
        align-self: center;
        width: 280px;
        margin-top: -40px;
        animation: myAnim 10s cubic-bezier(0.11, 0, 0.5, 0) 0s normal forwards;
    }

}

.form {
    padding-top: 42px;
    padding-left: 28px;
    padding-right: 28px;

    &__heading {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-align: center;
    }

    &__box {
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 41px;
    }

    &__item {
        outline: none;
        padding-bottom: 3px;
        border: none;
        border-bottom: 1px solid #CACDD8;
        background: #F7F6F6;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        &::placeholder {
            color: #000000;
        }
    }

    &__result {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #000000;
        margin-top: 23px;
        margin-bottom: 18px;
    }
}